body {
    background-color: #e9eaeb;
    font: normal 100% Verdana, Helvetica, sans-serif;
    color: #000;
    margin: auto;
    padding: 0;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
    width: 36em;
}

img {
    margin: 5px;
    border: 2px solid black;
    vertical-align: middle;
    width: 75px;
    height: 75px;
}

.wrapper {
    background-color: #fdfdfd;
    text-align: left;
    padding: 5px 10px 5px 10px;
    width: auto;
    border: 1px solid #c9cacb;
    border-radius: 10px;
    display: inline-block;
    position: relative;
}